.card_column {
    float: left;
    height: 110px;
    margin: 20px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.544);
    border-radius: 1rem;
    /* padding-inline: 2rem; */
    width: 250px;
    font-family: 'Courier New', Courier, monospace;
    transition: .5s;
    background-size: cover;
}

.after {
    box-shadow: 0 0 13px rgba(255, 0, 0, 0.544);
    border-color: white;
    transition: .5s;
    height: 240px;
    border-radius: 1rem 1rem 0rem 0rem;
    background-color: black;
}

.small-card {
    float: left;
    height: 50px;
    margin-left: 20px;
    margin-top: -1.5rem;
    border-radius: 0rem 0rem 1rem 1rem;
    background-color: rgb(203, 113, 28);
    box-shadow: 0 0 15px rgba(196, 133, 15, 0.544);
    width: 250px;
    display: none;
}

.card_column:hover {
    cursor: pointer;
}

.card_column:hover>.card-header {
    color: rgb(174, 24, 24);
    transition: .5s;
}

.card_column:hover>.footer {
    display: none;
    transition: .5s;
}

.card_column li {
    color: white;
    list-style-type: none;
    margin-left: -2.6rem;
}

.card-header {
    text-align: center;
    color: white;
    font-size: 1rem;
}

.card-header-after {
    color: rgb(174, 24, 24);
}

.card-desc {
    text-align: center;
    color: white;
    font-size: .9rem;
    display: none;
    transition: 1s;
}

.leftItem {
    display: inline-flex;
    margin-left: 1rem;
    font-weight: 600;
    color: brown;
}

.small-footer li {
    color: white;
    list-style-type: none;
    float: left;
    margin: 1rem;

}

.small-footer a {
    display: flex;
    color: white;
    list-style-type: none;
    margin-top: -1.3rem;
    text-decoration: none;
}

.small-footer a:hover {
    cursor: pointer;
}

.display {
    display: block;
    transition: 1s;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1000px) {
    .card_column {
        width: 220px;
    }

    .small-card {
        width: 220px;
    }

    .small-footer a {
        font-size: .8rem;
        display: flex;
    }
}

@media screen and (max-width: 750px) {
    .card_column {
        width: 200px;

    }

    .after {
        height: 180px;
    }

    .small-card {
        width: 200px;
        height: 40px;
    }

    .card-desc {
        font-size: .75rem;
    }

    .small-footer a {
        font-size: .8rem;
        display: flex;
    }
}