.abstract {
    height: 170px;
    background-color: black;
    /* margin-top: 1rem; */
    overflow: hidden;
    box-shadow: 0 0 90px rgba(241, 151, 72, 0.867);
    padding: 1rem;
}

.abstract p {
    color: white;
    font-size: 1.8vw;
    font-weight: 200;
    margin-top: 2rem;
}