.skillset ul li {
    list-style-type: none;
    display: inline-flex;

}

.skillset {
    background-color: black;
    padding: 5vw;
    margin-top: -3rem;
}

.skillset h1 {
    color: white;
    font-weight: 100;
    font-size: 4vw;
}

.skillImage {
    height: 14vw;
    width: 14vw;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 3rem;
    opacity: .6;
}

.skillImage p {
    color: white;
    opacity: 0;
    font-size: 2vw;
}

.skillImage:hover {

    box-shadow: 0 0 20px rgba(241, 154, 72, 0.867);
    background-size: 0;
    transition: .5s;
    height: 18vw;
    width: 18vw;
    opacity: 1;
    border-radius: 10%;
    /* margin: 2.65rem; */
}

.skillImage:hover>p {
    opacity: 1;
    transition: .3s;
}

@media screen and (max-width: 720px) {
    .skillImage {
        margin: 1rem;
    }

    .skillset {
        margin-top: -5rem;
    }

    .skillset ul {
        margin-left: -2rem;
    }
}